<div class="myflex" style="width: 80%; margin: 0 auto; max-width: 1200px;">
        
        <select class="" id="company_select">
                {{#each companyList}}
                    <option value='{{this}}'>{{this}}</option>
                {{/each}}
        </select>
        
        <input type="month" id="datePicker" placeholder="Enter in month and year" class="sentryscore-basic-date-input">

        <button type="submit" class="btn btn-primary" id="user_data_select_button" style="margin: 2em;">Submit</button>
</div>

<div id="form-div-error">
    <div id="form-div-error-msg">

    </div>
</div>

<div class="mb-5" style="width: 80%;max-width: 1200px;margin: 0 auto; text-align: left;">
    <div>
        <h5>Profit and Loss Report</h5>
        <div id="section1">

        </div>
    </div>
</div>

<div class="mb-5" style="width: 80%;max-width: 1200px;margin: 0 auto; text-align: left;">
    <div>
        <h5>Balance Sheet Report</h5>
        <div id="section2">

        </div>
    </div>
</div>

<div class="mb-5" style="width: 80%;max-width: 1200px;margin: 0 auto; text-align: left;">
    <div>
        <h5>Cash Flow Report</h5>
        <div id="section3">

        </div>
    </div>
</div>

<div class="mb-5" style="width: 80%;max-width: 1200px;margin: 0 auto; text-align: left;">
    <div>
        <h5>Balance Sheet this month start</h5>
        <div id="section4">
        </div>
    </div>
</div>

<div class="mb-5" style="width: 80%;max-width: 1200px;margin: 0 auto; text-align: left;">
    <div>
        <h5>Data Fetched</h5>
        <div id="section5">

        </div>
    </div>
</div>

<div style="width: 80%;max-width: 1200px;margin: 0 auto; text-align: left;">
    <div>
        <h5>Calulated Margins</h5>
        <div id="section6">

        </div>
    </div>
</div>
